In [1]:
# sys.path를 수정하여 모듈 경로를 설정
import sys
import os

# 프로젝트 루트 경로 추가
project_root = os.path.abspath("..")
sys.path.append(project_root)
import module

In [2]:
# visualization
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
# AppleGothic
fe = fm.FontEntry(
    fname=r'/usr/share/fonts/truetype/nanum/NanumGothic.ttf', # ttf 파일이 저장되어 있는 경로
    name='NanumBarunGothic')                        # 이 폰트의 원하는 이름 설정
fm.fontManager.ttflist.insert(0, fe)              # Matplotlib에 폰트 추가
plt.rcParams.update({'font.size': 10, 'font.family': 'NanumBarunGothic'}) # 폰트 설정
plt.rc('font', family='NanumBarunGothic')
import seaborn as sns

# utils
import pandas as pd
import numpy as np
from tqdm import tqdm
import pickle
import warnings;warnings.filterwarnings('ignore')

# Model
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics

import eli5
from eli5.sklearn import PermutationImportance

In [3]:
df = pd.read_csv('../data/unique_apt_group_xy_v3.csv')

In [5]:
df['좌표X'].isnull().sum()

170

In [8]:
보완할대상keymap = pd.read_csv('../data/x_y_key_map.csv')

In [9]:
보완할대상keymap.head(1)

,key,search_key,좌표X,좌표Y,아파트명,search_key1,search_key2,구,동,시,번지,본번,부번,도로명
0,강남구개포동개포로 264개포래미안포레스트,개포로 264 개포래미안포레스트,127.054031,37.47848,개포래미안포레스트,서울특별시 강남구 개포동 개포로 264,서울특별시 강남구 개포동 1282,강남구,개포동,서울특별시,1282,1282.0,0.0,개포로 264

In [10]:
df.head(1)

,아파트_unique_key,시,구,동,시군구,번지,본번,아파트명,건축년도,도로명,좌표Y,좌표X
0,강서구_방화동_546-1_방화3차우림필유_2005,서울특별시,강서구,방화동,서울특별시 강서구 방화동,546-1,546.0,방화3차우림필유,2005,양천로14길 118,37.573351,126.798318

In [19]:
for index, row in df[df['좌표X'].isnull()].iterrows():
    # print(index, row)
    key_query = row['시군구'] + ' ' + row['번지']
    print('key_query' , key_query)
    findRow = 보완할대상keymap[보완할대상keymap['search_key2'] == key_query]
    if findRow.shape[0] > 0:
        x = findRow['좌표X'].values[0]
        y = findRow['좌표Y'].values[0]
        df.loc[index, '좌표X'] = x
        df.loc[index, '좌표Y'] = y
        print('found', y, x)
    # try:
    #     x = xy_df[xy_df['search_key1'] == key_query]['좌표X'].values[0]
    #     y = xy_df[xy_df['search_key1'] == key_query]['좌표Y'].values[0]
    #     unique.loc[index, '좌표X'] = x
    #     unique.loc[index, '좌표Y'] = y
    # except:
    #     print('err', index, row['아파트명'])
    #     continue
    # if pd.isnull(row['좌표X']):
    #     df.at[index, '좌표X'] = df.loc[index-1, '좌표X']
    #     df.at[index, '좌표Y'] = df.loc[index-1, '좌표Y']

key_query 서울특별시 강남구 삼성동 19-4
found 37.517439 127.05007
key_query 서울특별시 강남구 역삼동 712
found 37.501076 127.045346
key_query 서울특별시 강남구 일원동 690-1
found 37.490587 127.079012
key_query 서울특별시 강동구 상일동 134
found 37.5517184559273 127.164857017437
key_query 서울특별시 강동구 상일동 124
found 37.552454 127.170231
key_query 서울특별시 강서구 방화동 201-1
found 37.56886 126.822189
key_query 서울특별시 강서구 방화동 888
found 37.572315 126.818802
key_query 서울특별시 강서구 방화동 207-5
found 37.568068 126.822382
key_query 서울특별시 강서구 방화동 883
found 37.572288 126.81869
key_query 서울특별시 강서구 방화동 892
found 37.571484 126.817525
key_query 서울특별시 강서구 방화동 897
found 37.571237 126.822099
key_query 서울특별시 강서구 방화동 884
found 37.571374 126.820616
key_query 서울특별시 강서구 방화동 168-38
found 37.573104 126.818361
key_query 서울특별시 강서구 방화동 168-114
found 37.573104 126.818361
key_query 서울특별시 강서구 염창동 275-5
found 37.549998 126.867337
key_query 서울특별시 관악구 신림동 1644
found 37.483708310871 126.905433298638
key_query 서울특별시 광진구 자양동 658-14
found 37.5328318624839 127.084626172897
key_query 서울특별시 구로구 구로동 685-280
found 37.488948 126.877319
key_query 서울특별시 구로구 오류동 282
found 37.486069 126.837394
key_query 서울특별시 노원구 공릉동 230
found 37.626239 127.08306
key_query 서울특별시 노원구 공릉동 230
found 37.626239 127.08306
key_query 서울특별시 노원구 상계동 109-5
found 37.6689868261175 127.078919212013
key_query 서울특별시 동작구 상도동 324
key_query 서울특별시 동작구 신대방동 729-24
key_query 서울특별시 서대문구 북아현동 149
found 37.5602067153922 126.95606104514
key_query 서울특별시 서대문구 북아현동 149
found 37.5602067153922 126.95606104514
key_query 서울특별시 서초구 반포동 32-8
found 37.4997791676203 127.012723336537
key_query 서울특별시 서초구 서초동 1335
found 37.4893225494193 127.024591003338
key_query 서울특별시 서초구 서초동 1336
found 37.4894385509969 127.028420395094
key_query 서울특별시 서초구 잠원동 52-2
found 37.5171626156481 127.013520471373
key_query 서울특별시 서초구 잠원동 74
found 37.50891 127.002314
key_query 서울특별시 서초구 잠원동 74-1
found 37.507298 127.003268
key_query 서울특별시 성동구 금호동1가 280
found 37.5529533800463 127.024467604147
key_query 서울특별시 성동구 금호동2가 1331
found 37.54998 127.016428
key_query 서울특별시 성동구 상왕십리동 1070
found 37.566135 127.027647
key_query 서울특별시 성북구 길음동 973-2
found 37.608006 127.025721
key_query 서울특별시 성북구 동소문동7가 280
found 37.5933032041957 127.011140425117
key_query 서울특별시 성북구 동소문동7가 261
found 37.595333 127.014202
key_query 서울특별시 성북구 하월곡동 949
found 37.5962119111889 127.041104102789
key_query 서울특별시 송파구 거여동 199-2
found 37.494389 127.148149
key_query 서울특별시 용산구 효창동 3-197
found 37.5473793002411 126.96203907111
key_query 서울특별시 은평구 수색동 223-28
found 37.578645 126.89946
key_query 서울특별시 은평구 증산동 213-20
found 37.581043 126.902727
key_query 서울특별시 중랑구 상봉동 785
found 37.60166 127.095708
key_query 서울특별시 강남구 개포동 138
found 37.4844402093504 127.067960222798
key_query 서울특별시 강남구 개포동 140
found 37.480057578933 127.064153382762
key_query 서울특별시 강남구 논현동 276
found 37.5095303215604 127.038421201117
key_query 서울특별시 강남구 대치동 612
found 37.49582 127.060546
key_query 서울특별시 강남구 대치동 633
found 37.494196 127.056087
key_query 서울특별시 강남구 대치동 610
found 37.495126 127.060905
key_query 서울특별시 강남구 대치동 633-22
found 37.494281 127.058466
key_query 서울특별시 강남구 도곡동 893-2
found 37.48761945292 127.038197177163
key_query 서울특별시 강남구 삼성동 22
found 37.5157864094542 127.051319226082
key_query 서울특별시 강남구 역삼동 709
found 37.502643 127.046193
key_query 서울특별시 강남구 일원동 690-2
found 37.489366 127.079925
key_query 서울특별시 강남구 청담동 106-11
found 37.52789 127.05109
key_query 서울특별시 강동구 고덕동 492
found 37.559291 127.146749
key_query 서울특별시 강동구 고덕동 220
found 37.558795 127.161931
key_query 서울특별시 강동구 고덕동 212
found 37.55691 127.162534
key_query 서울특별시 강동구 길동 43
found 37.5409093249208 127.147946180075
key_query 서울특별시 강동구 명일동 294
found 37.55261 127.145284
key_query 서울특별시 강동구 상일동 121
found 37.555308 127.16877
key_query 서울특별시 강동구 상일동 131
found 37.552014 127.166623
key_query 서울특별시 강동구 상일동 187
found 37.549387 127.167613
key_query 서울특별시 강서구 염창동 279-15
found 37.549175 126.87069
key_query 서울특별시 구로구 천왕동 292-10
found 37.48674 126.829969
key_query 서울특별시 동작구 사당동 197
found 37.4894986263976 126.965415477914
key_query 서울특별시 동작구 상도동 36-1
found 37.5048225390156 126.946453032873
key_query 서울특별시 동작구 흑석동 143-23
found 37.511193 126.961034
key_query 서울특별시 마포구 용강동 18-2
found 37.542065 126.944348
key_query 서울특별시 마포구 현석동 128-4
found 37.54355 126.935697
key_query 서울특별시 서대문구 북아현동 153-25
found 37.56245 126.954365
key_query 서울특별시 서대문구 연희동 711-32
found 37.575602 126.928263
key_query 서울특별시 서대문구 홍은동 48-84
found 37.5934809108736 126.945336524574
key_query 서울특별시 서초구 반포동 30-15
found 37.5034570396737 127.015970121674
key_query 서울특별시 서초구 반포동 30-18
found 37.504179 127.011556
key_query 서울특별시 서초구 반포동 2-1
found 37.5062519997568 126.992673104135
key_query 서울특별시 서초구 반포동 32-5
found 37.5015109280322 127.012471661634
key_query 서울특별시 서초구 방배동 1028-1
found 37.4755723803846 126.999846135135
key_query 서울특별시 서초구 서초동 1310
found 37.502035 127.022711
key_query 서울특별시 서초구 서초동 1331
found 37.492478 127.026855
key_query 서울특별시 서초구 서초동 1332
found 37.4930293673782 127.025519919597
key_query 서울특별시 서초구 잠원동 57
found 37.514364 127.01158
key_query 서울특별시 서초구 잠원동 52-1
found 37.516846 127.01327
key_query 서울특별시 서초구 잠원동 64-8
found 37.516128 127.008893
key_query 서울특별시 서초구 잠원동 74-2
found 37.506898 127.001214
key_query 서울특별시 서초구 잠원동 66
found 37.511078 127.007933
key_query 서울특별시 성북구 길음동 1054
found 37.600668 127.022991
key_query 서울특별시 송파구 가락동 479
found 37.4976145695004 127.102531804188
key_query 서울특별시 송파구 가락동 479
found 37.4976145695004 127.102531804188
key_query 서울특별시 송파구 거여동 34-2
found 37.492949 127.150381
key_query 서울특별시 송파구 거여동 216-2
found 37.49448 127.150958
key_query 서울특별시 송파구 풍납동 388-7
found 37.529061 127.110391
key_query 서울특별시 양천구 신월동 562-4
found 37.515357 126.841535
key_query 서울특별시 영등포구 당산동5가 4-2
found 37.529879 126.903378
key_query 서울특별시 용산구 이촌동 300-3
found 37.520182 126.971934
key_query 서울특별시 은평구 응암동 758
found 37.597499 126.932238
key_query 서울특별시 강남구 도곡동 538
found 37.4956390045387 127.052002706504
key_query 서울특별시 강남구 역삼동 716-1
found 37.5005551755633 127.050314621923
key_query 서울특별시 강남구 청담동 106-21
found 37.52789 127.05109
key_query 서울특별시 강서구 방화동 182-44
found 37.571771 126.818687
key_query 서울특별시 마포구 망원동 239
found 37.553204 126.902259
key_query 서울특별시 마포구 합정동 437-18
found 37.5508255927454 126.907857348802
key_query 서울특별시 서대문구 홍제동 92-1
found 37.584034 126.948279
key_query 서울특별시 서초구 서초동 1681
found 37.4969727934088 127.019417834917
key_query 서울특별시 성동구 금호동1가 598-12
found 37.553 127.024633
key_query 서울특별시 성동구 하왕십리동 845
found 37.563087 127.026359
key_query 서울특별시 성북구 길음동 998
found 37.60748 127.02549
key_query 서울특별시 성북구 돈암동 13-85
found 37.601369 127.023591
key_query 서울특별시 송파구 거여동 34
found 37.492986 127.150638
key_query 서울특별시 송파구 거여동 34-10
found 37.492986 127.150638
key_query 서울특별시 송파구 송파동 167
found 37.502995 127.118858
key_query 서울특별시 송파구 풍납동 389
found 37.5264402340298 127.114931882654
key_query 서울특별시 양천구 신월동 562-3
found 37.515357 126.841535
key_query 서울특별시 양천구 신월동 594-13
found 37.516978 126.845888
key_query 서울특별시 은평구 수색동 325-17
found 37.585468 126.889983
key_query 서울특별시 은평구 수색동 326-12
found 37.584751 126.891894
key_query 서울특별시 중구 만리동2가 116-4
found 37.554272 126.964707
key_query 서울특별시 강남구 개포동 138
found 37.4844402093504 127.067960222798
key_query 서울특별시 강남구 대치동 977
found 37.5013575539498 127.063355872072
key_query 서울특별시 강서구 화곡동 1027-50
found 37.5452457785524 126.838797750466
key_query 서울특별시 관악구 신림동 1644
found 37.483708310871 126.905433298638
key_query 서울특별시 구로구 항동 가-238
found 37.4812930891046 126.826871035904
key_query 서울특별시 동작구 상도동 1000
found 37.492209 126.958322
key_query 서울특별시 마포구 노고산동 807
found 37.55547 126.944576
key_query 서울특별시 서대문구 홍제동 270-1
found 37.5906020621487 126.946917348053
key_query 서울특별시 성북구 장위동 173-114
found 37.6208597732153 127.047717147687
key_query 서울특별시 종로구 필운동 1-8
found 37.578065 126.966569
key_query 서울특별시 강서구 방화동 905
found 37.571514 126.817579
key_query 서울특별시 서대문구 남가좌동 286-1
found 37.5713138623931 126.915904667901
key_query 서울특별시 용산구 신계동 16-20
found 37.533392 126.960722
key_query 서울특별시 강남구 삼성동 19-4
found 37.517439 127.05007
key_query 서울특별시 관악구 봉천동 1152
found 37.485896 126.961654
key_query 서울특별시 종로구 원남동 36-1
found 37.575642 126.998208
key_query 서울특별시 구로구 오류동 280
found 37.486307 126.840208
key_query 서울특별시 구로구 오류동 279-2
found 37.484673 126.839797
key_query 서울특별시 성북구 정릉동 1287-1
found 37.609476 127.01582
key_query 서울특별시 양천구 목동 1078
found 37.517556 126.844437
key_query 서울특별시 용산구 문배동 133-3
found 37.538024 126.967603
key_query 서울특별시 용산구 효창동 11-168
found 37.5485036204839 126.96220745308
key_query 서울특별시 마포구 창전동 27-19
key_query 서울특별시 서대문구 남가좌동 458
found 37.578638 126.920818
key_query 서울특별시 서초구 잠원동 57
found 37.514364 127.01158
key_query 서울특별시 양천구 신월동 561-2
found 37.514466 126.841638
key_query 서울특별시 양천구 신월동 562-5
found 37.515357 126.841535
key_query 서울특별시 양천구 신월동 593-14
found 37.516951 126.845706
key_query 서울특별시 은평구 응암동 626-108
found 37.592394 126.92205
key_query 서울특별시 은평구 증산동 214-8
found 37.58139 126.903594
key_query 서울특별시 은평구 증산동 214-13
found 37.581515 126.903773
key_query 서울특별시 중랑구 신내동 1
found 37.60394 127.09425
key_query 서울특별시 성동구 하왕십리동 811
found 37.569379 127.024748
key_query 서울특별시 은평구 응암동 39-23
found 37.597499 126.932238
key_query 서울특별시 강남구 율현동 686
found 37.475957 127.112697
key_query 서울특별시 송파구 거여동 35-7
found 37.493032 127.147761
key_query 서울특별시 은평구 수색동 328-3
found 37.584689 126.891383
key_query 서울특별시 은평구 증산동 216-10
found 37.580306 126.902463
key_query 서울특별시 은평구 응암동 757
found 37.597499 126.932238
key_query 서울특별시 마포구 현석동 128-11
found 37.54355 126.935697
key_query 서울특별시 강남구 역삼동 762
found 37.495326 127.047245
key_query 서울특별시 강동구 성내동 547-1
found 37.526831 127.128111
key_query 서울특별시 금천구 시흥동 789
found 37.4479033151811 126.900722652942
key_query 서울특별시 동대문구 답십리동 465-2
found 37.572124 127.046901
key_query 서울특별시 마포구 토정동 2-4
found 37.540683 126.939859
key_query 서울특별시 서초구 반포동 30-2
found 37.504179 127.011556
key_query 서울특별시 강남구 역삼동 763
found 37.495834 127.047906
key_query 서울특별시 서초구 반포동 16-1
found 37.5016224434628 126.996338644287
key_query 서울특별시 서초구 서초동 1686-4
found 37.495632 127.017509
key_query 서울특별시 용산구 한강로2가 196
found 37.5333865983976 126.968835130754
key_query 서울특별시 구로구 고척동 97
found 37.4991649242558 126.856605127004
key_query 서울특별시 서초구 잠원동 52-2
found 37.5171626156481 127.013520471373

In [20]:
print(df['좌표X'].isnull().sum())
print(df['좌표Y'].isnull().sum())

3
3

In [21]:
df[df['좌표X'].isnull()]

,아파트_unique_key,시,구,동,시군구,번지,본번,아파트명,건축년도,도로명,좌표Y,좌표X
3534,동작구_상도동_324_건영_1997,서울특별시,동작구,상도동,서울특별시 동작구 상도동,324,324.0,건영,1997,만양로 26,NaN,NaN
3598,동작구_신대방동_729-24_캐릭터그린빌_2000,서울특별시,동작구,신대방동,서울특별시 동작구 신대방동,729-24,729.0,캐릭터그린빌,2000,보라매로5가길 7,NaN,NaN
8744,마포구_창전동_27-19_마포웨스트리버태영데시앙_2019,서울특별시,마포구,창전동,서울특별시 마포구 창전동,27-19,27.0,마포웨스트리버태영데시앙,2019,서강로3길 32,NaN,NaN

In [22]:
# 3534,동작구_상도동_324_건영_1997,서울특별시 동작구 상도동,324,건영, 37.507857, 126.949298
# 3598,동작구_신대방동_729-24_캐릭터그린빌_2000,서울특별시 동작구 신대방동 729-24,캐릭터그린빌,37.491812, 126.925066
# 8744,마포구_창전동_27-19_마포웨스트리버태영데시앙_2019,서울특별시 마포구 창전동 27-19,마포웨스트리버태영데시앙,37.549839, 126.930509
df.loc[3534, '좌표X'] = 126.949298
df.loc[3534, '좌표Y'] = 37.507857

df.loc[3598, '좌표X'] = 126.925066
df.loc[3598, '좌표Y'] = 37.491812

df.loc[8744, '좌표X'] = 126.930509
df.loc[8744, '좌표Y'] = 37.549839

In [23]:
df[df['좌표X'].isnull()]

Empty DataFrame
Columns: [아파트_unique_key, 시, 구, 동, 시군구, 번지, 본번, 아파트명, 건축년도, 도로명, 좌표Y, 좌표X]
Index: []

In [24]:
df.to_csv('../data/unique_apt_group_xy_v4_최종.csv', index=False)